:root {
  --transition-basic: 0.5s ease;
  /* ✍️ Typography */
  --font-family: 'League Spartan', sans-serif;


  // --font-size-xs: 0.625rem; // 10px (якщо потрібно для дуже дрібних міток)
  --font-size-xs: 0.75rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.75rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.5rem;
  --font-size-xxxl: 3.5rem;


  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --line-height: 3rem;

  /* 📏 Spacing */
  --spacing-xxs: 0.5rem;
  --spacing-xs: 0.75rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

  /* 🟦 Radius */
  --border-radius: 0.5rem;

  // ⚙️ Component-specific dimensions (ThemeSlider)
  --theme-slider-track-height: 24px;
  --theme-slider-thumb-radius: 17px;
  --theme-slider-width: 64px;
  --theme-slider-padding-horizontal: 5px;
}