@use './_variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:focus-visible {
  outline: 4px solid var(--key-bg-primary);
}

h1 {
  all: unset;
}

html {
  scroll-behavior: smooth;
}

html:not(.theme-set) body {
  opacity: 0;
  transition: opacity 0.2s ease;
}

html.theme-set body {
  opacity: 1;
}

body {
  color: var(--text-secondary);
  background: var(--bg-main);
  transition:
    color var(--transition-basic),
    background-color var(--transition-basic);
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
