.dark {
  // Backgrounds
  --bg-main: hsl(222, 26%, 31%);
  --bg-toggle-keypad: hsl(223, 31%, 20%);
  --bg-screen: hsl(224, 36%, 15%);

  // Keys
  --key-bg-primary: hsl(225, 21%, 49%);
  --key-shadow-primary: hsl(224, 28%, 35%);

  --key-bg-accent: hsl(6, 63%, 50%);
  --key-shadow-accent: hsl(6, 70%, 34%);

  --key-bg-secondary: hsl(30, 25%, 89%);
  --key-shadow-secondary: hsl(28, 16%, 65%);

  // Text
  --text-primary: hsl(0, 0%, 100%);

  --text-btn-primary: hsl(0, 0%, 100%);
  --text-btn-secondary: hsl(221, 14%, 31%);
  --text-btn-accent: hsl(0, 0%, 100%);
}