@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
  --transition-basic: 0.5s ease;
  /* ✍️ Typography */
  --font-family: 'League Spartan', sans-serif;

  --text-body: 1.75rem;
  --text-logo: 2rem;
  --text-numbers: 2.5rem;
  --text-display: 3.5rem;

  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* 📏 Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

  /* 🟦 Radius */
  --border-radius: 0.5rem;
}